

.hidden {
  left:-9999px;
  top:-9999px;
  position: absolute !important;
  z-index: -1;
}
.afterLogin { display: none; }

html.loggedin .afterLogin { display:block; }
html.loggedin .beforeLogin { display:none; }
